# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS/editor
.DS_Store
.vscode/

# Large data
data/raw_midi/
data/processed/
data/train_test_split/

# Training outputs
outputs/checkpoints/
outputs/plots/

# Optional: keep generated MIDIs out if too many
# outputs/generated_midis/

# Survey temporary files
outputs/survey_results/*.csv

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.synctex.gz
